.navbar{
  position: fixed;
  width: 1400px;
  z-index: 5;
}

.nav-link:focus, .nav-link:hover
{
  color:var(--secondary-color);

}

.nav-link:focus, .nav-link:hover .nav-link.active
{
  color:var(--primary-color);
  font-weight: bolder;
}

.navbar-toggler
{
  color: #FFFFFF;
}

.nav-item
{
  color:var(--secondary-color)
}




.nav-link
{
  color: #FFFFFF;
}

.navbar-expand-lg
{
  font-family: "Roboto",Arial,sans-serif;
}
