.Map{
  margin-top: 20px;
}
.img1{
  width: 50%;
  margin: auto;
}
.contact_h{
  text-align: center;
  margin-top: 20px;
  font-family: 'Aboreto', cursive;
}
.h_con{
  font-size: 40px;
  font-family: 'Aboreto', cursive;
  margin-top: 50px;
  margin-bottom: 20px;
}

.about_info{
  display: flex;
  justify-content: space-evenly;
  margin-bottom: var(--mb-2-5);
  text-align: center;
}

.about_bibi{
    font-size: 35px;
    font-weight: var(--font-medium);
    color: #f36c60;
}
.about_info-title{
    font-weight: bold;
}

@media (max-width: 800px) {
  .about_info-name{
    font-size: 12px;
  }
}

