.Map{
  margin-top: 20px;
}
.img1{
  width: 50%;
  margin: auto;
}
.contact_h{
  text-align: center;
  margin-top: 20px;
}

.about_info{
  display: flex;
  justify-content: space-evenly;
  margin-bottom: var(--mb-2-5);
  text-align: center;
}

.about_bibi{
    font-size: 35px;
    font-weight: var(--font-medium);
    color: #0A6C8B;
}
.about_info-title{
    font-weight: bold;
}
