<!-- <div class=" container mt-5 mb-5">
  <div class="row">
    <div class="col-lg-4" *ngFor="let fd of foodData">

      <div class="foodboox"></div>
        <img class="img-resize" src = "{{fd.foodImg}}"/>
        <h1>{{fd.foodName}}</h1>
        <p>{{fd.foodDetails}}</p>
        <p>{{fd.foodPrice | currency:'INR'}}</p>
    </div>
  </div>
</div> -->
<div class="bannerportfolio"></div>
<div class="banner">
<div>
<img src="../../../assets/img/logo_text.png">
<img src="../../../assets/img/health.png" style="margin-left: 20px">
<img src="../../../assets/img/healthcarebtm2.png" class="img1">
</div>
</div>

<div class="portfolio-flex">
  <div class="box"   data-aos="fade-up"
  data-aos-duration="3000"
  data-aos-anchor-placement="top-center">
  <h3>Clinic Web app</h3>
  <p>เป็นการช่วยติดตามอาการเเละสามารถปรึกษาปัญหาสุขภาพกับคุณหมอ</p>
  <img src="../../../assets/img/clinic_app.jpg" class="auimg"/>
  </div>
</div>


<div class="imgban">
  <img src="../../../assets/img/01.jpg">
</div>
<div class="banner1">
  <h3>PTT-BCM2019</h3>
  <p>เป็นงานเกี่ยวกับเเบบสอบถามประเมินความเสี่ยง</p>
  <img src="../../../assets/img/ptt1.png" />
  <img src="../../../assets/img/ptt2.png" />
</div>
<div>
  <img src="../../../assets/img/ptt3.png" />
  <img src="../../../assets/img/ptt4.png" />
  <img src="../../../assets/img/ptt5.png" />
</div>
