<div class="banner">
  <h1> I am Setthanan</h1>
  <h2 class="tw"></h2>
  <p style="font-family:Noto Serif Thai;">ชื่อ เสฏฐนันท์ ครับชื่อเล่น อู๋ <br>
    ชอบในการเขียนโปรเเกรมเเละอยากศึกษาเเละพัฒนาตัวเองเพิ่มขึ้นเรื่อยๆ</p>
</div>



<section class="about section" id="about" style="font-family:Noto Serif Thai;">
  <div class="srction1" >
  <h2 class="section_title">เกี่ยวกับ ผม</h2>
  <span class="section_subtitle">บทนำ</span>
  </div>
  <div class="about_container container grid">
    <img src="../../../assets/img/S__56475685.png" alt="" class="about_img">
    <div class="about_data">
      <p class="about_description" >
        Web developer มีการทำงานมาหลายเดือน ชอบศึกษาหาความรู้
        มีประสบการณ์การทำงานด้านเทคโนโลยีเว็บและการออกแบบ Ui/Ux ทำงานที่มีคุณภาพ
      </p>

      <div class="about_info">
        <div>
          <span class="about_info-title">04 </span>
          <span class="about_info-name">เดือน <br> ประสบการณ์</span>
        </div>
        <div>
          <span class="about_info-title">02 </span>
          <span class="about_info-name">สำเร็จ <br> project</span>
        </div>
        <div>
          <span class="about_info-title">01 </span>
          <span class="about_info-name">บริษัท <br> งาน</span>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- ==================skills ================== -->
<section class="skills section" id="skills">
  <div class="srction2" style="font-family:Noto Serif Thai;">
<h2 class="section_title">ทักษะ</h2>
<span class="section_subtitle">ระดับเทคนิคของตัวผม</span>
</div>
</section>
<div class="accordion accordion-flush" id="accordionFlushExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingOne">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
        <div class="skills_header">
          <i class="bi bi-braces skills_icon"></i>

          <div style=" font-family:Baskervville;">
            <h1 class="skills_title">Frontend developer</h1>
            <span class="skills_subtitle">More than 4 month</span>
          </div>
        </div>
      </button>
    </h2>
    <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body" style=" font-family:Baskervville;">
        HTML 60%
        <div class="skills_bar">
          <div class="progress">
            <div class="progress-bar bg-success"  role="progressbar" aria-label="Success example" style="width: 60%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" ></div>
          </div>
        </div><br>
        CSS 60%
        <div class="skills_bar">
          <div class="progress">
            <div class="progress-bar bg-success" role="progressbar" aria-label="Success example" style="width: 60%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" ></div>
          </div>
        </div><br>
        JavaScript 50%
        <div class="skills_bar">
          <div class="progress">
            <div class="progress-bar bg-success" role="progressbar" aria-label="Success example" style="width: 50%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" ></div>
          </div>
        </div><br>
        TypeScript 60%
        <div class="skills_bar">
          <div class="progress">
            <div class="progress-bar bg-success" role="progressbar" aria-label="Success example" style="width: 60%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" ></div>
          </div>
        </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
        <div class="skills_header">
          <i class="bi bi-server skills_icon" ></i>
          <div style=" font-family:Baskervville;">
            <h1 class="skills_title">Backend developer</h1>
            <span class="skills_subtitle">More than 4 month</span>
          </div>
        </div>
      </button>
    </h2>
    <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body" style=" font-family:Baskervville;">
        SQL 60%
        <div class="skills_bar">
          <div class="progress">
            <div class="progress-bar bg-success" role="progressbar" aria-label="Success example" style="width: 60%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" ></div>
          </div>
        </div><br>
        PHP 50%
        <div class="skills_bar">
          <div class="progress">
            <div class="progress-bar bg-success" role="progressbar" aria-label="Success example" style="width: 50%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" ></div>
          </div>
        </div><br>
        Python 60%
        <div class="skills_bar">
          <div class="progress">
            <div class="progress-bar bg-success" role="progressbar" aria-label="Success example" style="width: 60%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" ></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
        Designer
      </button>
    </h2>
    <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the third item's accordion body. Nothing more exciting happening here in terms of content, but just filling up the space to make it look, at least at first glance, a bit more representative of how this would look in a real-world application.</div>
    </div>
  </div>
</div>






<!-- ============================QUALIFICATION============================ -->
<section class="qualification section" style="font-family:Noto Serif Thai;">
    <div class="srction3" style="font-family:Noto Serif Thai;">
    <h2 class="section_titile">วุฒิคุณสมบัติ</h2>
    <span class="section_subtitle">เส้นทางการศึกษา</span>
    </div>
    <div class="qualification_container container">
      <div class="qualification_tabs">
        <div class="qualification_button button--flex">
          <i class="bi bi-mortarboard-fill" qualification_icon></i>
          Education
        </div>

      </div>

        <div class="qualification_sections">
          <!-- ============================QUALIFICATION content 1============================ -->
          <div class="qualification_content">

            <!-- ============================QUALIFICATION 1============================ -->
                          <div  class="qualification_data">
                              <div style="margin-left: 75%;">
                                  <h3 class="qualification_title">มัธยมต้น</h3>
                                  <span class="qualification_subtitle">PatumkongkaSchool</span>
                                  <div class="qualification_calender">
                                    <i class="bi bi-calendar-date"></i>
                                    2011 - 2014
                                  </div>
                                </div>

                                <div>
                                    <span class="qualification_rounder"></span>
                                    <span class="qualification_line"></span>
                                </div>

                          </div>
            <!-- ============================QUALIFICATION 2============================ -->
                          <div  class="qualification_data">
              <div></div>
              <div>
                <span class="qualification_rounder"></span>
                <span class="qualification_line"></span>
              </div>
              <div>
                <h3 class="qualification_title">มัธยมปลาย(วิทย์-คณิต)</h3>
                <span class="qualification_subtitle">PatumkongkaSchool</span>
                <div class="qualification_calender">
                  <i class="bi bi-calendar-date"></i>
                  2015 - 2018
                </div>
              </div>


                          </div>
            <!-- ============================QUALIFICATION 3============================ -->
                          <div  class="qualification_data">
                <div style="    margin-left: 75%;">
                  <h3 class="qualification_title">วิศวคอมพิวเตอร์</h3>
                  <span class="qualification_subtitle">Rajamangala University of <br>Technology Phra Nakhon</span>
                  <div class="qualification_calender">
                    <i class="bi bi-calendar-date"></i>
                    2019 - 2023
                  </div>
                </div>
                <div>
                  <span class="qualification_rounder"></span>
                  <span class="qualification_line"></span>
                </div>
                          </div>
            <!-- ============================QUALIFICATION 4============================ -->
                          <div  class="qualification_data">
                            <div></div>
                              <span class="qualification_rounder"></span>
                              <!-- <span class="qualification_line"></span> -->
                            <div>
                              <h3 class="qualification_title">ฝึกงาน</h3>
                              <span class="qualification_subtitle"> DIVERGENT THINKING COMPANY LIMITED</span>
                              <div class="qualification_calender">
                                <i class="bi bi-calendar-date"></i>
                                4 เดือน
                              </div>
                            </div>
                            <div>
                            </div>
                          </div>
          </div>
        </div>
    </div>
</section>



<!-- ===============================services=============================== -->
<div >
  <div class="srction4">
  <h2 class="section_title">เกี่ยวกับการทำงาน</h2>
  <span class="section_subtitle">ขอนำเสนองาน</span>
  </div>
  <div class="card-group" >
  <div class="card" style="width: 18rem;">
    <img src="https://images.unsplash.com/photo-1586717799252-bd134ad00e26?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
    class="card-img-top"  alt="...">
    <div class="card-body">
      <h5 class="card-title" style=" font-family:Baskervville;">UI & UX Design</h5>
      <p class="card-text" style="font-family:Noto Serif Thai;">ออกเเบบปุ่มเเละออกเเบบหน้าต่างเพจเว็บ การเเต่งหน้าเพจให้สวยจัดรูปเเบบหน้า</p>
      <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling" style="background-color: #0A6C8B" >ติดตามต่อ</button>

      <div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
      <div div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasScrollingLabel">ติดตามต่อ</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
    <p>Try scrolling the rest of the page to see this option in action.</p>
  </div>
</div>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <img src="https://images.unsplash.com/photo-1499951360447-b19be8fe80f5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title" style=" font-family:Baskervville;">Web Development</h5>
      <p class="card-text" style="font-family:Noto Serif Thai;">เขียนโปรเเกรมเกี่ยวเเอปพลิเคชั่นเเละออกโปรเเกรมเกี่ยวกับหน้าเว็บไซต์</p>
      <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling" style="background-color: #0A6C8B" >ติดตามต่อ</button>

      <div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
      <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasScrollingLabel">ติดตามต่อ</h5>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
    <p>Try scrolling the rest of the page to see this option in action.</p>
      </div>
</div>
    </div>
  </div>
</div>

</div>









