.srction1{
  text-align: center;
}
.srction2{
  text-align: center;
}
.srction3{
  text-align: center;
  margin-bottom: 20px;
}
.srction4{
  text-align: center;
  margin-bottom: 20px;
}
/*==================== NAV ====================*/

.banner
{
  background-image: url('../../../assets/img/fnAu.jpg');
  height: 600px;
  background-position: center;
  background-size: cover;
}
.banner h1
{
  color: #0A6C8B;
  font-size: 50;
  font-weight: bold;
  top: 50%;
  left: 20%;
  position: absolute;
  font-family:Baskervville;
}
.banner h2
{
  font-size: 50;
  font-weight: bold;
  top: 58%;
  left: 20%;
  position: absolute;
  font-family:Baskervville;
}
.banner p
{
  color: #696969;
  font-size: 20;
  font-weight: bold;
  top: 65%;
  left: 20%;
  position: absolute;
}
/* show menu */


/* Active link */


/* Change background header */


/*==================== HOME ====================*/
.home_container{
  gap: 1rem;
}
.home_content{
  grid-template-columns: .5fr 3fr;
  padding-top: 3.5rem;
  align-items: center;
}
.home_blob{
  width: 200px;
  fill: var(--first-color);
}
.home_blob-img{
  width: 150px;
}
.home_data{
  grid-column: 1/3;
}
.home_title{
  font-size: var(--big-font-size);
}
.home_subtitle{
  font-size: var(--h3-font-size);
  color: var(--text-color);
  font-weight: var(--font-medium);
  margin-bottom: var(--mb-0-75);
}
.home_description{
  margin-bottom: var(--mb-2 );
}
/*==================== BUTTONS ====================*/


/*==================== ABOUT ====================*/
.about_img{
  width: 25%;
  border-radius: .5rem;
  justify-self: center;
  align-self: center;

}

.about_description{
  text-align: center;
  margin-bottom: var(--mb-2-5);
}

.about_info{
  display: flex;
  justify-content: space-evenly;
  margin-bottom: var(--mb-2-5);
}

.about_info-title{
  font-size: var(--h2-font-size);
  font-weight: var(--font-semi-bold);
  color: var(--title-color);
}

.about_info-name{
  font-size: var(--smaller-font-size);

}

.about_info-title , .about_info-name{
  display: block;
  text-align: center;
}


/*==================== SKILLS ====================*/
.accordion{
  margin-left: 100px;
  margin-right: 100px;
}

.skills_container{
  row-gap: 0;
}
.skills_header{
  display: flex;
  align-items: center;
  margin-bottom: var(--mb-2-5);
  cursor: pointer;
}
.skills_icon , .skills_arrow{
  font-size: 2rem;
  color: #0A6C8B;
}
.skills_icon{
  margin-right: var(--mb-0-75);
}
.skills_title{
  font-size: var(--h3-font-size);
}
.skills_subtitle{
  font-size: var(--small-font-size);
  color: var(--text-color-light);
}
.skills_arrow{
  margin-left: auto;
  transition: .4s;
}
.skills_list{
  row-gap: 1.5rem;
  padding-left: 2.7rem;
}
.skills_titles{
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--mb-0-5);
}
.skills_name{
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
}

  /* bar */
.progress-bar.bg-success{
  background-color:#0A6C8B!important;
}
/* frontend */
.skills_html{
  width: 60%;
}
.skills_css{
  width: 60%;
}
.skills_js{
  width: 50%;
}
.skills_ts{
  width: 60%;
}
/* backend */
.skills_sql{
  width: 60%;
}
.skills_php{
  width: 50%;
}
.skills_py{
  width: 60%;
}
.skills_node{
  width: 40%;
}

/*==================== QUALIFICATION ====================*/
.qualification_tabs{
  display: flex;
  justify-content: space-evenly;
  margin-bottom: var(--mb-2);
}
.qualification_button{
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
  cursor: pointer;
}

.qualification_icon{
  font-size: 1.8rem;
  margin-right: var(--mb-0-25);
}
.qualification_data{
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  column-gap: 1.5rem;
}
.qualification_title{
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
}
.qualification_subtitle{
  display: inline-block;
  font-size: var(--small-font-size);
  margin-bottom: var(--mb-2-5);
}

.qualification_calender{
  font-size: var(--small-font-size);
  color: var(--text-color-light);
}
.qualification_rounder{
  display: inline-block;
  width: 13px;
  height: 13px;
  background-color:  #0A6C8B;
  border-radius: 50%;
}
.qualification_line{
  display:block;
  width: 1px;
  height: 100%;
  background-color:  #0A6C8B;
  transform: translate(6px, -7px);
}

/*==================== SERVICES ====================*/


/* Active Modal */


/*==================== PORTFOLIO ====================*/


/*==================== PROJECT IN MIND ====================*/


/*==================== TESTIMONIAL ====================*/


/*==================== CONTACT ME ====================*/


/*==================== FOOTER ====================*/


/*========== SCROLL UP ==========*/


/* Show scroll */


/*========== SCROLL BAR ==========*/


/*==================== MEDIA QUERIES ====================*/
/* For small devices */


/* For medium devices */


/* For large devices */
