<script src="src/assets/js/main.js"></script>
<p>about works!</p>
<div class="home_img">
  <svg class="home_blob" viewBox="0 0 200 187" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <mask id="mask0" mask-type="alpha">
        <path d="M190.312 36.4879C206.582 62.1187 201.309 102.826 182.328 134.186C163.346 165.547
        130.807 187.559 100.226 186.353C69.6454 185.297 41.0228 161.023 21.7403 129.362C2.45775
        97.8511 -7.48481 59.1033 6.67581 34.5279C20.9871 10.1032 59.7028 -0.149132 97.9666
        0.00163737C136.23 0.303176 174.193 10.857 190.312 36.4879Z"/>
    </mask>
    <g mask="url(#mask0)">
        <path d="M190.312 36.4879C206.582 62.1187 201.309 102.826 182.328 134.186C163.346
        165.547 130.807 187.559 100.226 186.353C69.6454 185.297 41.0228 161.023 21.7403
        129.362C2.45775 97.8511 -7.48481 59.1033 6.67581 34.5279C20.9871 10.1032 59.7028
        -0.149132 97.9666 0.00163737C136.23 0.303176 174.193 10.857 190.312 36.4879Z"/>
        <image class="home_blob-img" x="20" y="1" xlink:href="assets/img/S__56475685.png"/>
    </g>
</svg>
</div>

<div class="home_data">
  <h1 class="home_title">Hi, I'am Setthanan</h1>
  <h3 class="home_subtitle">Frontend developer</h3>
  <p  class="้home_description">High level experience in web design and development
    knowledge, producing quality work.</p>
</div>

<section class="about section" id="about">
  <h2 class="section_title">About Me</h2>
  <span class="section_subtitle">My introduction</span>

  <div class="about_container container grid">
    <img src="../../../assets/img/S__56475685.png" alt="" class="about_img">
    <div class="about_data">
      <p class="about_description">
        Web developer, with extensive knowledge and years of
        experience, working in web technologies and Ui / Ux design, delivering quality work.
      </p>

      <div class="about_info">
        <div>
          <span class="about_info-title">04 </span>
          <span class="about_info-name">Month <br> experience</span>
        </div>
        <div>
          <span class="about_info-title">02 </span>
          <span class="about_info-name">Completed <br> project</span>
        </div>
        <div>
          <span class="about_info-title">01 </span>
          <span class="about_info-name">Companies <br> worked</span>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- ==================skills ================== -->
<section class="skills section" id="skills">
<h2 class="section_title">Skills</h2>
<span class="section_subtitle">My techical level</span>
</section>
<div class="accordion accordion-flush" id="accordionFlushExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingOne">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
        <div class="skills_header">
          <i class="bi bi-braces skills_icon"></i>

          <div>
            <h1 class="skills_title">Frontend developer</h1>
            <span class="skills_subtitle">More than 4 month</span>
          </div>
        </div>
      </button>
    </h2>
    <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">
        HTML 60%
        <div class="skills_bar">
          <span class="skills_percentage skills_html"></span>
        </div><br>
        CSS 60%
        <div class="skills_bar">
          <span class="skills_percentage skills_css"></span>
        </div><br>
        JavaScript 50%
        <div class="skills_bar">
          <span class="skills_percentage skills_js"></span>
        </div><br>
        TypeScript 60%
        <div class="skills_bar">
          <span class="skills_percentage skills_ts"></span>
        </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
        <div class="skills_header">
          <i class="bi bi-server skills_icon" ></i>
          <div>
            <h1 class="skills_title">Backend developer</h1>
            <span class="skills_subtitle">More than 4 month</span>
          </div>
        </div>
      </button>
    </h2>
    <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">
        SQL 60%
        <div class="skills_bar">
          <span class="skills_percentage skills_sql"></span>
        </div><br>
        PHP 50%
        <div class="skills_bar">
          <span class="skills_percentage skills_php"></span>
        </div><br>
        Python 60%
        <div class="skills_bar">
          <span class="skills_percentage skills_py"></span>
        </div>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
        Designer
      </button>
    </h2>
    <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the third item's accordion body. Nothing more exciting happening here in terms of content, but just filling up the space to make it look, at least at first glance, a bit more representative of how this would look in a real-world application.</div>
    </div>
  </div>
</div>






<!-- ============================QUALIFICATION============================ -->
<section class="qualification section">
    <h2 class="section_titile">Qualification</h2>
    <span class="section_subtitle">My personal journey</span>

    <div class="qualification_container container">
      <div class="qualification_tabs">
        <div class="qualification_button button--flex">
          <i class="bi bi-mortarboard-fill" qualification_icon></i>
          Education
        </div>

      </div>

        <div class="qualification_sections">
          <!-- ============================QUALIFICATION content 1============================ -->
          <div class="qualification_content">

            <!-- ============================QUALIFICATION 1============================ -->
                          <div  class="qualification_data">
                              <div style="margin-left: 75%;">
                                  <h3 class="qualification_title">มัธยมต้น</h3>
                                  <span class="qualification_subtitle">PatumkongkaSchool</span>
                                  <div class="qualification_calender">
                                    <i class="bi bi-calendar-date"></i>
                                    2011 - 2014
                                  </div>
                                </div>

                                <div>
                                    <span class="qualification_rounder"></span>
                                    <span class="qualification_line"></span>
                                </div>

                          </div>
            <!-- ============================QUALIFICATION 2============================ -->
                          <div  class="qualification_data">
              <div></div>
              <div>
                <span class="qualification_rounder"></span>
                <span class="qualification_line"></span>
              </div>
              <div>
                <h3 class="qualification_title">มัธยมปลาย(วิทย์-คณิต)</h3>
                <span class="qualification_subtitle">PatumkongkaSchool</span>
                <div class="qualification_calender">
                  <i class="bi bi-calendar-date"></i>
                  2015 - 2018
                </div>
              </div>


                          </div>
            <!-- ============================QUALIFICATION 3============================ -->
                          <div  class="qualification_data">
                <div style="    margin-left: 75%;">
                  <h3 class="qualification_title">วิศวคอมพิวเตอร์</h3>
                  <span class="qualification_subtitle">Rajamangala University of <br>Technology Phra Nakhon</span>
                  <div class="qualification_calender">
                    <i class="bi bi-calendar-date"></i>
                    2019 - 2023
                  </div>
                </div>
                <div>
                  <span class="qualification_rounder"></span>
                  <span class="qualification_line"></span>
                </div>
                          </div>
            <!-- ============================QUALIFICATION 4============================ -->
                          <div  class="qualification_data">
                            <div></div>
                              <span class="qualification_rounder"></span>
                              <!-- <span class="qualification_line"></span> -->
                            <div>
                              <h3 class="qualification_title">ฝึกงาน</h3>
                              <span class="qualification_subtitle"> DIVERGENT THINKING COMPANY LIMITED</span>
                              <div class="qualification_calender">
                                <i class="bi bi-calendar-date"></i>
                                4 เดือน
                              </div>
                            </div>
                            <div>
                            </div>
                          </div>
          </div>
        </div>
    </div>
</section>



<!-- ===============================services=============================== -->
<div >
  <h2 class="section_title">Services</h2>
  <span class="section_subtitle">What i offer</span>

  <div class="card-group" >
  <div class="card" style="width: 18rem;">
    <img src="https://images.unsplash.com/photo-1586717799252-bd134ad00e26?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
    class="card-img-top"  alt="...">
    <div class="card-body">
      <h5 class="card-title">UI & UX Design</h5>
      <p class="card-text">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
      <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling">Enable body scrolling</button>

      <div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
      <div div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasScrollingLabel">Offcanvas with body scrolling</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
    <p>Try scrolling the rest of the page to see this option in action.</p>
  </div>
</div>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <img src="https://images.unsplash.com/photo-1499951360447-b19be8fe80f5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Web Development</h5>
      <p class="card-text">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
      <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling">Enable body scrolling</button>

      <div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
      <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasScrollingLabel">Offcanvas with body scrolling</h5>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
    <p>Try scrolling the rest of the page to see this option in action.</p>
      </div>
</div>
    </div>
  </div>
</div>

</div>






