<div class="banner">
  <h1> I am Setthanan</h1>
  <h2 class="tw"></h2>
  <p>Far far away, behind the word mountains, <br>
  far from the countries Vokalia and Consonantia, there live the blind texts</p>
  <div class="buton1">
  <button type="button" class="btn btn-primary btn-lg" routerLink="menu" style="margin-right: 20px">VIEW PORTFOLIO <i class="bi bi-arrow-right"></i></button>
  <button type="button" class="btn btn-light   btn-lg" routerLink="about"style="  color: #1E90FF">About <i class="bi bi-arrow-right"></i></button>
  </div>
</div>
          <!-- step -->
<div class="container mt-5 mb-4">
  <h1 class="text-center">My Latest Work</h1>
    <div class="row mt-5">
          <!-- one -->
      <div class="col-lg-4 mt-2">
        <div class="stepBox">
          <h1>1</h1>
          <p>select Work</p>
        </div>
      </div>
          <!-- two -->
      <div class="col-lg-4 mt-2">
        <div class="stepBox">
          <h1>2</h1>
          <p>select Work</p>
        </div>
      </div>
    </div>
</div>

<!-- foodbox
<div class="container mt-4 mb-4">
  <div class="row">
    <div class="col-lg-3" *ngFor="let fd of foodData">
      <div class="foodbox"></div>
        <img class="img-resize" src="{{fd.foodImg}}"/>
        <h1>{{fd.foodName}}</h1>
        <p>{{fd.foodDetails}}</p>
    </div>
  </div>
</div>-->

<a href="#portfolio">Go GO GO</a>
<section id = "portfolio">

  <div class="portfolio-flex">
    <div class="left-box"  data-aos="fade-left"
    data-aos-offset="300"
    data-aos-easing="ease-in-sine" >
    <img src="../../../assets/img/clinic_app.jpg"/>
    </div>
    <div class="right-box" data-aos="zoom-in-up" data-aos-delay="1000">
      <h3>ClinicWebapp</h3>
      <p>
        Branding & Illustration Design
      </p>
    </div>
  </div>

  <div class="portfolio-flex">
    <div class="left-box" data-aos="zoom-in-up" data-aos-delay="1000">
      <h3>PTT-BCM2019</h3>
      <p>
        Branding & Illustration Design
      </p>
    </div>
    <div class="right-box" data-aos="fade-right"
    data-aos-offset="300"
    data-aos-easing="ease-in-sine" >
    <img src="../../../assets/img/PTT.jpg" />
    </div>
  </div>

  <div class="portfolio-flex">
    <div class="left-box"  data-aos="fade-left"
    data-aos-offset="300"
    data-aos-easing="ease-in-sine">
    <img src="https://images.unsplash.com/photo-1481887328591-3e277f9473dc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1781&q=80" />
    </div>
    <div class="right-box" data-aos="zoom-in-up" data-aos-delay="1000">
      <h3>Portfolio 3</h3>
      <p>
        Branding & Illustration Design
      </p>
    </div>
  </div>

  <div class="portfolio-flex">
    <div class="left-box" data-aos="zoom-in-up" data-aos-delay="1000">
      <h3>Portfolio 4</h3>
      <p>
        Branding & Illustration Design
      </p>
    </div>
    <div class="right-box" data-aos="fade-right"
    data-aos-offset="300"
    data-aos-easing="ease-in-sine" >
    <img src=" ../../../../../assets/img/bannering.jpg" />
    </div>
  </div>


</section>


