.banner
{
  background-image: url('../../../assets/img/pexels-johannes-plenio-1103970.jpg');
  height: 800px;
  width: 100%;
   /* Set a specific height */
    min-height: 500px;

   /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.a_section
{
  top: 62%;
  left: 18%;
  position: absolute;

}
.banner h1
{
  color: #0A6C8B;
  font-size: 50;
  font-weight: bold;
  top: 35%;
  left: 16%;
  position: absolute;
  font-family:Baskervville;
}
.banner h2
{
  font-size: 50;
  font-weight: bold;
  top: 43%;
  left: 17%;
  position: absolute;
  font-family:Baskervville;
}
.banner p
{
  color: #696969;
  font-size: 20;
  font-weight: bold;
  top: 50%;
  left: 15%;
  position: absolute;
}

.btn.btn-primaryPort{
  background: #fff;
  color: #0A6C8B!important;
}




.profilrText{
  font-family:Baskervville;
}
.bannerA:hover{
  color: black;
}
.bannerB:hover{
  color: black;
}
.about p {
  font-size: 1.5rem;
  margin-top: 20px;
  margin-bottom: 20px;
}
.about{
  font-family: 'Noto Serif Thai';
}





.button1{
  margin: auto;
  margin-top: 5px;
  margin-left: 35%;

}

.qualification_rounder{
  display: inline-block;
  width: 13px;
  height: 13px;
  background-color: #0A6C8B;
  border-radius: 50%;
}
.stepBox
{
  background-color: #696969;
  padding: 20px 20px;
  border-radius: 5;
  text-align: center;
}

.container1
{ z-index: 6;
  position: relative;
  width: 100%;
  max-width: 100%;
  min-height: 200px;
  background: #E6E6FA;
  display: grid;
  grid-template-columns: 1fr 2fr;
  box-shadow: 0 35px 55px rgba(0,0,0,0.1);
}




.mat-tab-group{
  background-color: #0A6C8B;
  width: 984px;


}
.mat-tab-group h1,.mat-tab-group p{
  font-family:Baskervville;
  color: #FFF;
}
.mat-tab-group i{
  color: #FFF;
}

.ab {
  margin-left: 20px;
  margin-right: 20px;
  font-size: 40px;
  text-indent: 40px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.abb {
  margin-left: 20px;
  margin-right: 20px;
  font-size: 30px;
  text-indent: 40px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.ap {
  margin-left: 20px;
  margin-right: 20px;
  font-size: 20px;
  text-indent: 20px;
}

.accordion-button.collapsed{
  background-color: #0A6C8B;
}
.accordion-item{
  background-color: #0A6C8B;
}

.contact_h{
  text-align: center;
  margin-top: 20px;
}

.card.mb-3ab{
  margin-bottom: -16px!important;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 3%;
}

.about_info{
  display: flex;
  justify-content: space-evenly;
  margin-bottom: var(--mb-2-5);
  text-align: center;
}

.about_bibi{
    font-size: 35px;
    font-weight: var(--font-medium);
    color: #0A6C8B;
}
.about_info-title{
    font-weight: bold;
}

.btn.btn{
  color: #fff;
}
.btn-group{
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 5%;
}

.skills_header{
  display: flex;
  align-items: center;
  margin-bottom: var(--mb-2-5);
  cursor: pointer;
}
.skills_icon , .skills_arrow{
  font-size: 2rem;
  color: #0A6C8B;
}
  /* bar */
  .progress-bar.bg-success{
    background-color:#696969!important;
  }
  /* frontend */
  .skills_html{
    width: 60%;
  }
  .skills_css{
    width: 60%;
  }
  .skills_js{
    width: 50%;
  }
  .skills_ts{
    width: 60%;
  }
  /* backend */
  .skills_sql{
    width: 60%;
  }
  .skills_php{
    width: 50%;
  }
  .skills_py{
    width: 60%;
  }
  .skills_node{
    width: 40%;
  }

  .Ed h4{
    margin-top: 20px;
  }

  /* =========================================services=========================================== */

.services2{
    text-align: center;
    margin-top: 5%;
}

/*======================================= portfolio   =======================================*/
.portimg{
  display: block;
  width: 100%;
  height: auto;
}

.image1 {
  position: relative;
  width: 300px;

}


.image {
  position: relative;
  width: 300px;
}

.image__img {
  display: block;
  width: 100%;
}

.image__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: #ffffff;
  font-family: 'Quicksand', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.25s;
}

.image__overlay--blur {
  backdrop-filter: blur(5px);
}

.image__overlay--primary {
  background: #009578;
}

.image__overlay > * {
  transform: translateY(20px);
  transition: transform 0.25s;
}

.image__overlay:hover {
  opacity: 1;
}

.image__overlay:hover > * {
  transform: translateY(0);
}

.image__title {
  font-size: 2em;
  font-weight: bold;
}

.image__description {
  font-size: 1.25em;
  margin-top: 0.25em;
}




