<div class="banner">
  <h1> I am Setthanan</h1>
  <h2 class="tw"></h2>
  <p>Far far away, behind the word mountains, <br>
  far from the countries Vokalia and Consonantia, there live the blind texts</p>
  <div class="a_section">
  <a href="#au" class="bannerA">My STORY</a>
  <a href="#portfolio" class="bannerB">PROJECTS</a>
  </div>
</div>

<section id = "au">
  <div></div>
  <div class="container1">
    <div class="left_Side">
      <div class="profilrText">
        <div class="imgBx">
          <img src="../../../assets/img/Au.jpg">
        </div>
        <h2>Setthanan Malikhao<br><span>Developer</span></h2>
      </div>
    </div>

    <div class="right_Side">
      <div class="about">
        <h2 class="title2">ประวัติส่วนตัว</h2>
        <p>
            สวัสดีครับผมชื่อ นาย เสฏฐนันท์ มะลิขาว ชื่อเล่น อู๋
          <br> จบปริญญาตรี จากมหาลับเทคโนโลยีราชมงคลพระนคร สาขาวิชา วิศวกรรมคอมพิวเตอร์
          <br> การเป็น developer เป็นความฝันของผมที่เป็นจริง เพราะผมรักการเขียนโปรเเกรม การออกเเบบ <br>
          <span class="qualification_rounder"></span>
          เป้าหมายอาชีพในการทำงานของผม คือการเป็น front end developer<br>
          <span class="qualification_rounder"></span>
          มีประสบการณ์ในการทำงาน 4 เดือน ในการทำงานเป็น front end developer<br>
          <span class="qualification_rounder"></span>
          มีการพัฒนาตนเองอย่างต่อเนื่องและไม่หยุดที่จะเรียนรู้สิ่งใหม่ ๆ อยู่เสมอ<br>
          <span class="qualification_rounder"></span>
          ทัศนคติเชิงบวก และยอมรับฟังความคิดเห็นของผู้อื่นและผู้ร่วมทีมอยู่เสมอ<br>
          <span class="qualification_rounder"></span>
          มีวินัยตัวเองเเละตรงต่อเวลา
        </p>
        <button type="button" class="btn btn-primary btn-lg" routerLink="about">About <i class="bi bi-arrow-right"></i></button>
      </div>
    </div>
  </div>
</section>




<section id = "portfolio"></section>
<div></div>
<div class="container mt-5 mb-4">
  <h1 class="text-center">My Latest Work</h1>
</div>
  <div class="portfolio-flex">
    <div class="left-box"  data-aos="fade-left"
    data-aos-offset="300"
    data-aos-easing="ease-in-sine" >
    <img src="../../../assets/img/clinic_app.jpg"/>
    </div>
    <div class="right-box" data-aos="zoom-in-up" data-aos-delay="1000">
      <h3>ClinicWebapp</h3>
      <p>
        Branding & Illustration Design
      </p>
    </div>
  </div>

  <div class="portfolio-flex">
    <div class="left-box" data-aos="zoom-in-up" data-aos-delay="1000">
      <h3>PTT-BCM2019</h3>
      <p>
        Branding & Illustration Design
      </p>
    </div>
    <div class="right-box" data-aos="fade-right"
    data-aos-offset="300"
    data-aos-easing="ease-in-sine" >
    <img src="../../../assets/img/PTT.jpg" />
    </div>
  </div>

  <div class="portfolio-flex">
    <div class="left-box"  data-aos="fade-left"
    data-aos-offset="300"
    data-aos-easing="ease-in-sine">
    <img src="https://images.unsplash.com/photo-1481887328591-3e277f9473dc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1781&q=80" />
    </div>
    <div class="right-box" data-aos="zoom-in-up" data-aos-delay="1000">
      <h3>Portfolio 3</h3>
      <p>
        Branding & Illustration Design
      </p>
    </div>
  </div>

  <div class="portfolio-flex">
    <div class="left-box" data-aos="zoom-in-up" data-aos-delay="1000">
      <h3>Portfolio 4</h3>
      <p>
        Branding & Illustration Design
      </p>
        <button type="button" class="btn btn-primary btn-lg" routerLink="menu" >VIEW PORTFOLIO <i class="bi bi-arrow-right"></i></button>
    </div>
    <div class="right-box" data-aos="fade-right"
    data-aos-offset="300"
    data-aos-easing="ease-in-sine" >
    <img src=" ../../../../../assets/img/bannering.jpg" />
    </div>
  </div>



<div class="contact">
<div class="contact_h">
  <h1>GET IN TOUCH</h1>
  <p>It is some systematized exhibition of the whale in his broad genera, that I would now fain put before you.<br>
    Yet is it no easy task. The classification of the constituents of a chaos, nothing less is here essayed.
  </p>
</div>
  <div class="about_info">
    <div>
      <div class="about_bibi">
        <i class="bi bi-chat-left-text-fill"></i>
    </div>
      <span class="about_info-title">Come And Meet Us</span>
      <span class="about_info-name"><br>333/175 วิสต้าปาร์คสาทรปิ่นเกล้า ราชพฤกษ์<br>
        บางขุนกอง บางกรวย นนทบุรี 11130</span>
    </div>
    <div>
      <div class="about_bibi">
        <i class="bi bi-phone"></i>
      </div>
      <span class="about_info-title">Give Us A Call</span>
      <span class="about_info-name"><br>094-678-6692</span>
    </div>
    <div>
      <div class="about_bibi">
        <i class="bi bi-code-slash"></i>
      </div>
      <span class="about_info-title">Send Us A Message</span>
      <span class="about_info-name"><br>setthanan507@gmail.com</span>
    </div>
  </div>
</div>

<div class="Map">
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7528.0262450074615!2d100.44761179694221!3d13.820593870013479!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x30e29a7aa14ef857%3A0xf332ca6e90f58e64!2z4Lin4Li04Liq4LiV4LmJ4LiyIOC4m-C4suC4o-C5jOC4hCDguKrguLLguJfguKMt4Lib4Li04LmI4LiZ4LmA4LiB4Lil4LmJ4Liy!5e0!3m2!1sth!2sth!4v1661103244893!5m2!1sth!2sth"
  width="100%" height="350" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
