<div class="banner">
  <h1> I am Setthanan</h1>
  <h2 class="tw"></h2>
  <p  style=" font-family:Baskervville;">Far far away, behind the word mountains,<br>
    far from the countries Vokalia and Consonantia, there live the blind texts.</p>
  <div class="a_section" style="font-family:Noto Serif Thai;">
  <a href="#About" class="bannerA" >HIRE ME</a>
  <a href="#portfolio" class="bannerB">VIEW PORTFOLIO</a>
  </div>
</div>

<!-- <section id = "au">
  <div></div>
  <div class="container1">
    <div class="left_Side">
      <div class="profilrText">
        <div class="imgBx">
          <img src="../../../assets/img/Au.jpg">
        </div>
        <h2>Setthanan Malikhao<br><span>Developer</span></h2>
      </div>
    </div>

    <div class="right_Side">
      <div class="about">
        <h2 class="title2">ประวัติส่วนตัว</h2>
        <p >
            สวัสดีครับผมชื่อ นาย เสฏฐนันท์ มะลิขาว ชื่อเล่น อู๋
          <br> จบปริญญาตรี จากมหาลัยเทคโนโลยีราชมงคลพระนคร สาขาวิชา วิศวกรรมคอมพิวเตอร์
          <br> การเป็น developer เป็นความฝันของผมที่เป็นจริง เพราะผมรักการเขียนโปรเเกรม <br>การออกเเบบ <br>
          <span class="qualification_rounder"></span>
          เป้าหมายอาชีพในการทำงานของผม คือการเป็น front end developer<br>
          <span class="qualification_rounder"></span>
          มีประสบการณ์ในการทำงาน 4 เดือน ในการทำงานเป็น front end developer<br>
          <span class="qualification_rounder"></span>
          มีการพัฒนาตนเองอย่างต่อเนื่องและไม่หยุดที่จะเรียนรู้สิ่งใหม่ ๆ อยู่เสมอ<br>
          <span class="qualification_rounder"></span>
          ทัศนคติเชิงบวก และยอมรับฟังความคิดเห็นของผู้อื่นและผู้ร่วมทีมอยู่เสมอ<br>
          <span class="qualification_rounder"></span>
          มีวินัยตัวเองเเละตรงต่อเวลา
        </p>
        <button type="button" class="btn btn-primary btn-lg" routerLink="about" style="font-family:Noto Serif Thai;" style="background-color: #0A6C8B">เรื่องราวของผม <i class="bi bi-arrow-right"></i></button>
      </div>
    </div>
  </div>
</section> -->


  <section id = "About">
  <div class="card mb-3" >
    <div class="row g-0">
      <div class="col-md-4">
        <img src="../../../assets/img/Au.jpg" class="img-fluid rounded-start" >
      </div>
      <div class="col-md-8">
        <div class="card-body" style=" font-family:Baskervville;">
          <h5 class="card-title">About</h5>
            <!-- =============card-text ================-->
            <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group" >
            <p class="card-text">
              <button class="btn btn" style="background-color: #0A6C8B" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample1" aria-expanded="false" aria-controls="collapseExample">
                about
              </button>
              <button class="btn btn" style="background-color: #0A6C8B" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample2" aria-expanded="false" aria-controls="collapseExample">
                Skill
              </button>
              <button class="btn btn" style="background-color: #0A6C8B" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample3" aria-expanded="false" aria-controls="collapseExample">
                Education
              </button>
            </p>
            </div>
            <div >
              <!-- About -->
              <div class="collapse show"  id="collapseExample1">
                <h1> My Story</h1>
                  <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia,
                  there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                <h1>I Do Web Design & Developement since I was 18 Years Old</h1>
                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
              </div>
              <!-- skills -->
              <div class="collapse" id="collapseExample2">
                <h1> Skills</h1>
                  <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
                    Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.
                  </p>

                  <!-- =====================================bra============================ -->
                  <div class="accordion accordion-flush" id="accordionFlushExample">
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="flush-headingOne">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                          <div class="skills_header">
                            <i class="bi bi-braces skills_icon"></i>

                            <div style=" font-family:Baskervville;">
                              <h1 class="skills_title">Frontend developer</h1>
                              <span class="skills_subtitle">More than 4 month</span>
                            </div>
                          </div>
                        </button>
                      </h2>
                      <div id="flush-collapseOne" class="accordion-collapse collapse show" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body" style=" font-family:Baskervville;">
                          HTML 60%
                          <div class="skills_bar">
                            <div class="progress">
                              <div class="progress-bar bg-success"  role="progressbar" aria-label="Success example" style="width: 60%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" ></div>
                            </div>
                          </div><br>
                          CSS 60%
                          <div class="skills_bar">
                            <div class="progress">
                              <div class="progress-bar bg-success" role="progressbar" aria-label="Success example" style="width: 60%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" ></div>
                            </div>
                          </div><br>
                          JavaScript 50%
                          <div class="skills_bar">
                            <div class="progress">
                              <div class="progress-bar bg-success" role="progressbar" aria-label="Success example" style="width: 50%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" ></div>
                            </div>
                          </div><br>
                          TypeScript 60%
                          <div class="skills_bar">
                            <div class="progress">
                              <div class="progress-bar bg-success" role="progressbar" aria-label="Success example" style="width: 60%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" ></div>
                            </div>
                          </div>
                      </div>
                    </div>
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="flush-headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                          <div class="skills_header">
                            <i class="bi bi-server skills_icon" ></i>
                            <div style=" font-family:Baskervville;">
                              <h1 class="skills_title">Backend developer</h1>
                              <span class="skills_subtitle">More than 4 month</span>
                            </div>
                          </div>
                        </button>
                      </h2>
                      <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body" style=" font-family:Baskervville;">
                          SQL 60%
                          <div class="skills_bar">
                            <div class="progress">
                              <div class="progress-bar bg-success" role="progressbar" aria-label="Success example" style="width: 60%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" ></div>
                            </div>
                          </div><br>
                          PHP 50%
                          <div class="skills_bar">
                            <div class="progress">
                              <div class="progress-bar bg-success" role="progressbar" aria-label="Success example" style="width: 50%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" ></div>
                            </div>
                          </div><br>
                          Python 60%
                          <div class="skills_bar">
                            <div class="progress">
                              <div class="progress-bar bg-success" role="progressbar" aria-label="Success example" style="width: 60%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" ></div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="flush-headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                          Designer
                        </button>
                      </h2>
                      <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the third item's accordion body. Nothing more exciting happening here in terms of content, but just filling up the space to make it look, at least at first glance, a bit more representative of how this would look in a real-world application.</div>
                      </div>
                    </div>
                  </div>
                  </div>
                  <!-- =====================================bra============================ -->
              </div>
              <!-- Education -->
              <div class="collapse" id="collapseExample3">
                  <h3>Junior High School</h3>
                  <p>PatumkongkaSchool</p>
                  <i class="bi bi-calendar-date"></i>
                                    2011 - 2014
                  <h3>High School (Science-Mathematics)</h3>
                  <p>PatumkongkaSchool</p>
                  <i class="bi bi-calendar-date"></i>
                                    2015 - 2018
                  <h3>Computer Engineer</h3>
                  <p>Rajamangala University of Technology Phra Nakhon</p>
                  <i class="bi bi-calendar-date"></i>
                                    2019 - 2023
              </div>
            </div>
            <!-- =============card-text ================-->
          <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
        </div>
      </div>
    </div>
  </div>
</section>




<section id="services">
    <h2 class="services"style=" font-family:Baskervville;" >This is My Expertise</h2>



    <!-- ===========================================card=========================================== -->
    <div class="card-group">
      <div class="card" style="width: 18rem;">
        <img src="../../../assets/img/uxui.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h1>UI & UX Design</h1>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <!-- ========================button================================ -->

        <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions">Read more</button>

        <div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
          <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">Backdrop with scrolling</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body">
            <p>Try scrolling the rest of the page to see this option in action.</p>
          </div>
        </div>

        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <img src="../../../assets/img/bannering.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h1>Web Development</h1>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

                  <!-- ========================button================================ -->

        <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions">Read more</button>

        <div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
          <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">Backdrop with scrolling</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body">
            <p>Try scrolling the rest of the page to see this option in action.</p>
          </div>
        </div>

        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="../../../assets/img/graphic design.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h1>Graphic Design</h1>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <!-- ========================button================================ -->

        <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions">Read more</button>

        <div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
          <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">Backdrop with scrolling</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body">
            <p>Try scrolling the rest of the page to see this option in action.</p>
          </div>
        </div>

        </div>
      </div>
    </div>
</section>










<!--============================================================== portfolio -============================================================== -->

<section id = "portfolio">
<div></div>

  <h1 class="text-center" style=" font-family:Baskervville;">OUR LATEST PROJECTS</h1>

</section>
  <!-- ============================================================contact============================================================ -->

<section id ="contactau">
<div></div>
<div class="contact">
<div class="contact_h" style=" font-family:Baskervville;">
  <h1 >Contact</h1>
  <p>
    You can contact me using the information below
  </p>
</div>
  <div class="about_info">

    <div style=" font-family:Baskervville;">
      <div class="about_bibi">
        <i class="bi bi-chat-left-text-fill"></i>
    </div>
      <span class="about_info-title">Address</span>
      <span class="about_info-name" style="font-family:Noto Serif Thai;"><br>333/175 วิสต้าปาร์คสาทรปิ่นเกล้า ราชพฤกษ์<br>
        บางขุนกอง บางกรวย นนทบุรี 11130</span>
    </div>

    <div>
      <div class="about_bibi">
        <i class="bi bi-phone"></i>
      </div>
      <span class="about_info-title" style=" font-family:Baskervville;">Home</span>
      <span class="about_info-name"><br>094-678-6692</span>
    </div>

    <div style=" font-family:Baskervville;">
      <div class="about_bibi">
        <i class="bi bi-code-slash"></i>
      </div>
      <span class="about_info-title">E-mail</span>
      <span class="about_info-name"><br>setthanan507@gmail.com</span>
    </div>
  </div>
</div>

<div class="Map">
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7528.0262450074615!2d100.44761179694221!3d13.820593870013479!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x30e29a7aa14ef857%3A0xf332ca6e90f58e64!2z4Lin4Li04Liq4LiV4LmJ4LiyIOC4m-C4suC4o-C5jOC4hCDguKrguLLguJfguKMt4Lib4Li04LmI4LiZ4LmA4LiB4Lil4LmJ4Liy!5e0!3m2!1sth!2sth!4v1661103244893!5m2!1sth!2sth"
  width="100%" height="350" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>

<div class="card">
  <div class="card-body">
    <form class="row g-3">
      <div class="col-md-4">
        <label for="validationDefault01" class="form-label">ชื่อ</label>
        <input type="text" class="form-control" id="validationDefault01"  required>
      </div>
      <div class="col-md-4">
        <label for="validationDefault02" class="form-label">นามสกุล</label>
        <input type="text" class="form-control" id="validationDefault02"  required>
      </div>
      <div class="col-md-4">
        <label for="validationDefaultUsername" class="form-label">Email</label>
        <div class="input-group">
          <span class="input-group-text" id="inputGroupPrepend2">@</span>
          <input type="text" class="form-control" id="validationDefaultUsername"  aria-describedby="inputGroupPrepend2" required>
        </div>
      </div>
      <div class="col-md-6">
        <label for="validationDefault03" class="form-label">เบอร์โทรศัพท์</label>
        <input type="text" class="form-control" id="validationDefault03" required>
      </div>

      <div class="col-md-3">
        <label for="validationDefault05" class="form-label">ข้อความติดต่อ</label>
        <input type="text" class="form-control" id="validationDefault05" required>
      </div>

      <div class="col-12">
        <button class="btn btn-primary" type="submit" style="background-color: #0A6C8B">Submit form</button>
      </div>
      <img class="img1" src=" ../../../../../assets/img/contact.png" />
    </form>

  </div>
</div>
</section>

